coreapi==2.3.3
Django==3.2.4
django-cors-headers==3.7.0
django-extensions==3.1.1
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
drf-yasg==1.21.6
model-bakery==1.2.1
psycopg2-binary==2.9.1
python-dotenv==0.15.0
